<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">


    <div class="collapse navbar-collapse" id="dankabrek-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/offer" routerLinkActive="active">OFERTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">KONTAKT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</nav>
