<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/offer" routerLinkActive="active">OFERTA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">KONTAKT</a>
      </li>
    </ul>
  </div>


</nav>
